*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark-teal-green: #213E3B;
    --teal-green: #41AEA9;
    --light-teal-green: #A6F6F1;
    --light-teal: #E8FFFF;
    --emerald-green: #32E0C4;
    --red: #EA2264;
    --green: #38d832;
    --pading:20px;
}
body{
    font-family: IRANSans;
    /* background-color: var(--light-teal); */
}
a{
    color: var(--dark-teal-green);
    text-decoration: none;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
    color: var(--dark-teal-green);
} 

/* استایل های صفحه اصلی */
#home_page{
    display: none;
    padding: 0 var(--pading);
}
#header{
    background: linear-gradient(var(--emerald-green),var(--teal-green));
    border-radius: 0 0 75px 75px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    padding: 10px;
    position: relative;
    margin-bottom: 5rem;
}
.welcome-msg{
    font-weight: 700;
}
.header_content{
    width: 85%;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--light-teal);
    padding: 1rem;
    box-shadow: #a1a1a1 0 0 7px 2px;
    border-radius: 15px;
}
.your_balance{
    font-weight: 700;
}
.income_expence{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.title_income{
    font-size: 0.8em;
}
.title_expence{
    font-size: 0.8em;
    
}
.value_income{
    color: var(--green);
    font-weight: 700;
}
.value_income::after{
    content: "+";
}
.value_expence::after{
    content: "-";
}
.value_expence{
    color: var(--red);
    font-weight: 700;
}
#last_transaction{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#last_transaction h2{
    font-size: 1.2em;
}
.add_transaction_btn{
    position: absolute;
    left: 0;
    background-color: var(--dark-teal-green);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.add_transaction_btn p{
    font-size: 0.8em;
}
.transaction{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px var(--teal-green) solid;
    border-radius: 15px;
    padding: 5px;
}
.line{
    height: 45px;
    border-radius: 5px;
    width: 5px;
    background-color: #cbc400;
}
.transaction_title{
    font-weight: 700;
}
.category_logo{
    box-shadow: var(--teal-green) 0px 0px 5px 1px ;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.history_btn path{
    fill: var(--dark-teal-green) !important;
}
#bottom_nav nav{
    display: flex;
    box-shadow: #a1a1a1 0 0 7px 2px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    padding-top: 2rem;
    justify-content: space-evenly;
}
#bottom_nav nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bottom_nav nav a p{
    font-weight: 500;
}
#bottom_nav nav a svg{
    width: 40px;
    height: 40px;
}
#bottom_nav nav a svg g{
    color: #08CB00 !important;
}

/* استایل های صفحه تاریخچه */
#history_page{
    padding: var(--pading);
    display: none;
}
#history_page h2{
    text-align: center;
}
#date{
    margin-bottom: 1rem;
}
#date h3{
    margin-bottom: 0.5rem;
}
.date_item{
    width: 15%;
    background-color: var(--emerald-green);
    text-align: center;
    padding: 15px 10px;
    gap: 5px;
    border-radius: 20px;
}
.date_item .day{
    font-weight: 600;
    color: #fff;
}
.date_item .month{
    font-size: 0.9em;
    font-weight: 500;
}

/* استایل های صفحه آمار */
#statistic_page{
    padding: var(--pading);
}
#monthly_stats h2{
    margin-bottom:var(--pading);
}
.monthly_stats{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.monthly_stats > div{
    text-align: center;
    width: 50%;
    background:linear-gradient(47deg,var(--teal-green)50%,var(--light-teal-green));
    color: #fff;
    padding: var(--pading);
    border-radius: 15px;
    font-size: 1.2em;
}
.monthly_stats span{
    font-weight: 900;
    font-size: 1.5em;
}
#category_stats{
    margin-top: var(--pading);
}
#category_stats h3{
    margin-bottom: 10px;
}
.category_stat{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    border-top: 1.2px solid var(--dark-teal-green);
    border-radius: 3px;
}
.category_stat .stat_label::after{
    content: ":";
    margin-right: 1px;
    font-weight: 500;
}