*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark-teal-green: #213E3B;
    --teal-green: #41AEA9;
    --light-teal-green: #A6F6F1;
    --light-teal: #E8FFFF;
    --emerald-green: #32E0C4;
    --red: #EA2264;
    --green: #38d832;
    --pading:20px;
}
body{
    font-family: IRANSans;
    /* background-color: var(--light-teal); */
    min-height: 100vh;
    position: relative;
    padding-bottom: 95px;
}
a{
    color: var(--dark-teal-green);
    text-decoration: none;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
    color: var(--dark-teal-green);
} 

/* استایل های صفحه اصلی */
#home_page{
    padding: 0 var(--pading);
}
#header{
    background: linear-gradient(var(--emerald-green),var(--teal-green));
    border-radius: 0 0 75px 75px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    padding: 10px;
    position: relative;
    margin-bottom: 5rem;
}
.welcome-msg{
    font-weight: 700;
}
.header_content{
    width: 85%;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--light-teal);
    padding: 1rem;
    box-shadow: #a1a1a1 0 0 7px 2px;
    border-radius: 15px;
}
.your_balance{
    font-weight: 700;
}
.income_expence{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.title_income{
    font-size: 0.8em;
}
.title_expence{
    font-size: 0.8em;
    
}
.value_income{
    color: var(--green);
    font-weight: 700;
}
.value_income::after{
    content: "+";
}
.value_expence::after{
    content: "-";
}
.value_expence{
    color: var(--red);
    font-weight: 700;
}
#last_transaction{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#last_transaction h2{
    font-size: 1.2em;
}
.add_transaction_btn{
    position: absolute;
    left: 0;
    background-color: var(--dark-teal-green);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.add_transaction_btn p{
    font-size: 0.8em;
}
.transaction{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px var(--teal-green) solid;
    border-radius: 15px;
    padding: 5px;
}
.line{
    height: 45px;
    border-radius: 5px;
    width: 5px;
    background-color: #cbc400;
}
.transaction_title{
    font-weight: 700;
}
.category_logo{
    box-shadow: var(--teal-green) 0px 0px 5px 1px ;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

/* استایل های نویگیشن پایین */
#bottom_nav{
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 999;
}
#bottom_nav nav{
    display: flex;
    box-shadow: #a1a1a1 0 0 7px 2px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #a6f6f191;
}
#bottom_nav nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:12px;
    padding: 4px;
    position: relative;
}
#bottom_nav nav a p{
    font-weight: 500;
}
#bottom_nav nav a svg{
    width: 40px;
    height: 40px;
}
#bottom_nav nav a svg g{
    color: #08CB00 !important;
}
#history_btn path{
    fill: var(--dark-teal-green) ;
}

/* استایل های صفحه تاریخچه */
#history_page{
    padding: var(--pading);
}
#history_page h2{
    text-align: center;
}
#date{
    margin-bottom: 1rem;
}
#date h3{
    margin-bottom: 0.5rem;
}
.date_item{
    width: 15%;
    background-color: var(--emerald-green);
    text-align: center;
    padding: 15px 10px;
    gap: 5px;
    border-radius: 20px;
}
.date_item .day{
    font-weight: 600;
    color: #fff;
}
.date_item .month{
    font-size: 0.9em;
    font-weight: 500;
}

/* استایل های صفحه آمار */
#statistic_page{
    padding: var(--pading);
}
#monthly_stats h2{
    margin-bottom:var(--pading);
}
.monthly_stats{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.monthly_stats > div{
    text-align: center;
    width: 50%;
    background:linear-gradient(47deg,var(--teal-green)50%,var(--light-teal-green));
    color: #fff;
    padding: var(--pading);
    border-radius: 15px;
    font-size: 1.2em;
}
.monthly_stats span{
    font-weight: 900;
    font-size: 1.5em;
}
#category_stats{
    margin-top: var(--pading);
}
#category_stats h3{
    margin-bottom: 10px;
}
.category_stat{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    border-top: 1.2px solid var(--dark-teal-green);
    border-radius: 3px;
}
.category_stat .stat_label::after{
    content: ":";
    margin-right: 1px;
    font-weight: 500;
}

/* استایل های صفحه پروفایل */
#profile_page{
    padding: var(--pading);
    padding-top: 2rem;
}
#user_status{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.user_name{
    font-weight: 600;
    font-size: 1.2em;
}
.user_avatar{
    width: 120px;
    height: 120px;
    background-color: var(--light-teal-green);
    border-radius: 100%;
    padding: 15px;
}
.user_stats{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.user_stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.user_stats h4{
    color: #213e3bbd;
}
.user_stats span{
    font-weight: 500;
    color: var(--teal-green);
}
.setting_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.setting_item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.setting_icon{
    padding: 5px;
    background-color: #41aea818;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10%;
}
.settings-content{
    width: 70%;
}
.settings-title{
    font-weight: 500;
    font-size: 1.1em;
}
.settings-desc{
    color: #213e3bbd;
}
.setting_btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.setting_btn input{
    opacity: 0;
    width: 0;
    height: 0;
}
.setting_btn .slider{
    display: block;
    background-color: #dcdcdc;
    width: 55px;
    height: 25px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: all 200ms linear;

}
.setting_btn .slider::before{
    top: 50%;
    right: 3px;
    transition: all 200ms linear;
    transform: translateY(-50%);
    content: "";
    border-radius: 100%;
    position: absolute;
    background-color: var(--dark-teal-green);
    height: 20px;
    width: 20px;
}
.setting_btn input:checked + .slider{
    background-color: var(--teal-green);
}
.setting_btn input:checked + .slider::before{
    transform: translateX(-30px) translateY(-50%);
}
#change_userName_btn{
    background-color: var(--dark-teal-green);
    color: #fff;
    padding: 4px;
    border-radius: 8px;
    width: 60px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    box-shadow: #bbbbbbe3 3px 4px 4px 1px;
}
.category_item{
    display: flex;
    justify-content: space-between;
}
.category_content{
    display: flex;
    gap: 10px;
    align-items: center;
}
.delete_category{
    width: 40px;
    cursor: pointer;
}

.display-none{
    display: none !important;
}
.display-block{
    display: block !important;
}
.icon_fill{
    fill: #aedcd8 !important;
}
.box-shadow{
    box-shadow: #213E3B 0 0 5px 1px;
}
.after-line::after{
    content: "";
    width: 90%;
    height: 5px;
    background-color: var(--dark-teal-green);
    border-radius: 10px;

}